{% extends 'main.html' %} {% block content %}
<p>You are on the {{page}} page</p>

{% if number > 10 %}
<p>Number is greater than 10</p>

{% elif number == 101 %}
<p>Number is equal to 101</p>

{% else %}
<p>Number is less than 10</p>

{% endif %}
<h1>Projects Template</h1>
<hr />
<h1>Projects</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Project</th>
    <th>Votes</th>
    <th>Ratio</th>
  </tr>
  {% for project in projects%}
  <tr>
    {% comment %}
    <td>{{project.id}}</td>
    {% endcomment %}
    <td>{{project.title}}</td>
    <td>{{project.vote_total}}</td>
    <td>{{project.ratio}}</td>
    <td>{{project.created}}</td>
    <td>{{project.ratio}}</td>
    <td><a href="{% url 'update-project' project.id %}">Edit </a></td>
    <td><a href="{% url 'delete-project' project.id %}">Delete </a></td>
    <td><a href="{% url 'project' project.id %}">View </a></td>
    {% endfor %}
  </tr>
</table>
{% comment %}
<ul>
  {% for project in projects %}

  <li>
    Title:
    <a href="{% url 'project' project.id %}">{{project.title}} </a>Description:
    {{project.description}}
  </li>

  {% endfor %}
</ul>
{% endcomment %} {% endblock content %}
